<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Empleados - GeoExtract</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <header>
        <h1>GeoExtract</h1>
        <h2>Gestión de Empleados</h2>
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="employees.html">Lista de Empleados</a></li>
            <li><a href="add-employee.html">Agregar Empleado</a></li>
            <li><a href="add-job.html">Asignar Trabajo</a></li>
            <li><a href="../../index.html" id="logout">Cerrar Sesión</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h3>Bienvenidos a la Gestión de Empleados de GeoExtract</h3>
            <h4>
                <strong>Bienvenido Administrador de GeoExtract</strong><br>
                Estamos comprometidos con la eficiencia y la transparencia en la gestión de nuestras tareas y recursos. Como administrador, tienes acceso a herramientas avanzadas para supervisar, asignar y controlar el flujo de trabajo dentro de nuestra empresa.
              </h4>
              
              <h4>
                <strong>Funcionalidades para el Administrador:</strong>
              </h4>
              <ul>
                <li><strong>Gestión de Tareas:</strong> Asigna y supervisa las tareas de los empleados, estableciendo prioridades y plazos para garantizar la productividad.</li>
                <li><strong>Control de Empleados:</strong> Administra la información de los empleados, incluyendo detalles de contacto, cargos y departamentos.</li>
                <li><strong>Seguridad y Accesos:</strong> Configura los niveles de acceso y roles de usuario para mantener la seguridad y la integridad de la información.</li>
              <h4>Futuras Actualizaciones</h4>
                <li><strong>Reporte y Análisis:</strong> Genera informes detallados sobre el progreso de las tareas y el desempeño del equipo, facilitando la toma de decisiones basada en datos.</li>
              </ul>
        </section>
        <div style="width: 50%; margin: auto;">
            <canvas id="progresoGrafico"></canvas>
        </div>
    </main>
    <script src="../../src/js/funcion.js"></script>
</body>
</html>
